# SPDX-FileCopyrightText: 2013 - 2023 Jolla Ltd.
# SPDX-FileCopyrightText: 2024 - 2025 Jolla Mobile Ltd
#
# SPDX-License-Identifier: BSD-3-Clause

Makefile
Makefile.*
jolla-notes
*.pro.user*
*.o
*.so
*.ts
*.qm
*.moc
moc_*
