[Desktop Entry]
Type=Application
NoDisplay=true
Name=Notes
Icon=icon-launcher-notes
Comment=Sailfish MimeType handler for plain-text files and vNote files
MimeType=text/plain;text/x-vnote;
X-MeeGo-Logical-Id=notes-de-name
X-MeeGo-Translation-Catalog=notes
X-Maemo-Service=com.jolla.notes
X-Maemo-Object-Path=/
X-Maemo-Method=com.jolla.notes.importNoteFile
