# SPDX-FileCopyrightText: 2013 - 2021 Jolla Ltd.
# SPDX-FileCopyrightText: 2025 Jolla Mobile Ltd
#
# SPDX-License-Identifier: BSD-3-Clause

[Desktop Entry]
Type=Application
Name=Notes
Icon=icon-launcher-notes
Exec=/usr/bin/sailjail -p jolla-notes.desktop /usr/bin/jolla-notes
MimeType=text/plain;text/x-vnote;
X-MeeGo-Logical-Id=notes-de-name
X-MeeGo-Translation-Catalog=notes
X-Maemo-Service=com.jolla.notes
X-Maemo-Object-Path=/
X-Maemo-Method=com.jolla.notes.openUrl

[X-Sailjail]
Permissions=UserDirs;Accounts;Privileged
OrganizationName=com.jolla
ApplicationName=notes
