[Desktop Entry]
Type=Application
Name=jolla-notes
Icon=icons-Applications-notes
Exec=invoker --type=j -s /usr/bin/jolla-notes
Comment=Sailfish UI application


